.carousel-item img {
  min-height: 400px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--green);
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .carousel-inner {
    height: 200px;
  }
}
