.recycler-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 10px;
  justify-content: center;
}

@media (max-width: 769px) {
  .recycler-grid {
    grid-template-columns: 500px;
  }
}

@media (max-width: 426px) {
  .recycler-grid {
    grid-template-columns: 380px;
  }
}

@media (max-width: 376px) {
  .recycler-grid {
    grid-template-columns: 300px;
  }
}